<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<style type="text/css">
.error {
	border-color: red;
    border-width: 3px;
    border-style:solid;
}

.ok {
	border-color: green;
    border-width: 3px;
    border-style:solid;
}
</style>
</head>
<body ng-app="app">
    <div ng-controller="MainCtrl">
        <form name="myForm" ng-submit="doSomething()">
            <label>Must contain the word <strong>blah</strong> (case insensitive) <br /> <!-- set up the input, make sure it:
                    1. has ng-model
                    2. has a name="" so we can reference it in the model.
                    3. has regex-validate
                    4. (optional) has regex-validate-flags --> <input type="text" placeholder="Enter text here" ng-model="test" name="test" regex-validate="\b[0-9]*\b"
                regex-validate-flags="i" />
            </label>
            <!-- set up some sort of output for validation
                    the format here is:  [formName].[fieldName].$error.[validationName]
                    where validation name is determined by 
                    ctrl.$setValidity(validationName, true/false) in your
                    custom directive.
            -->
            <span style="color: red" ng-show="myForm.test.$error.regexValidate">WRONG!</span> <input type="text" name="price_field" data-ng-model="price" require
                ng-pattern="/^\d{2,4}(\.\d{1,2})?$/" /> <span ng-show="myform.price_field.$error.pattern">Not valid number!</span>
            <div>

                <!-- for added measure, disable the submit if the form is $invalid -->
                <button type="submit" ng-disabled="myForm.$invalid">Submit</button>
            </div>
            
            <input type="text" class="ok" testValidate />
        </form>
    </div>

</body>
</html>