<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-route.js"></script>
		
		<script type="text/javascript" src="app_html5.js"></script>
	</head>
	<body ng-app="module">
		<h1>{{test}}</h1>
		  <div ng-view></div>
	</body>
</html>