<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-route.min.js"></script>
		
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body ng-app="module">
		<div class="header">
			<a href="#add">add</a>
			<a href="#remove">remove</a>
		</div>
		<h1>{{test}}</h1>
		  <div ng-view></div>
	</body>
</html>