<!DOCTYPE html>
<html ng-app>
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js" ></script>
		
		<script type="text/javascript">
			function ContactsController($scope){
				$scope.contacts=[{"email":"guy.chauliac@gmail.com","name":"Guy"},{"email":"leslie.torreele@gmail.com","name":"leslie"}];
				$scope.add=function(){
					$scope.contacts.push($scope.newcontact);
					 $scope.newcontact = "";
				}
				$scope.removecontact=function($contact){
					$scope.contacts.splice($scope.contacts.indexOf($contact), 1);
				}
				$scope.display=function(){
					alert($scope.contacts);
				}
			}
		</script>
	</head>
	<body>
		<div ng-controller="ContactsController">
			<input type="text" ng-model="newcontact.name">
			<input type="text" ng-model="newcontact.email">
			<button ng-click="add()">new contact</button>
			<button ng-click="display()">display</button>
			<ul>
				<li ng-repeat="contact in contacts">{{ contact.name }} {{ contact.email }} <button ng-click="removecontact(contact)">delete</button> </li> 
			</ul>
		</div>	
		
	</body>
</html>
	
	
	