<!DOCTYPE html>
<html ng-app="module">
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js" ></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		<div ng-controller="ContactsController">
			<input type="text" ng-model="newcontact">
			<button ng-click="add()">new contact</button>
			<ul>
				<li ng-repeat="contact in contacts">{{ contact }} </li> 
			</ul>
		</div>	
		
	</body>
</html>
	
	
	