<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example - example-example80-production</title>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
<script src="app.js"></script>

<style type="text/css">
.error {
    border-color: #FF9494;
    border-width: 2px;
    border-style:solid;
}

.ok {
    border-color: green;
    border-width: 2px;
    border-style:solid;
}
</style>



</head>
<body ng-app="docsSimpleDirective">
    <div ng-controller="Controller">
        <div my-customer></div>
        <input type="text" my-customer /> <input ng-model='customer.price' class='ok' my-free-text />
    </div>


    <div ng-controller="TimeController">
        Date format: <input ng-model="format">
        <hr />
        Current time is: <span my-current-time="format"></span>
        <input type="text" my-current-time /> 
    </div>


</body>
</html>