<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-resource.js"></script>
<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="UserController">
        <button ng-click="allUsers()">Load all users</button>
        <button ng-click="saveAll()">Save all users</button>
        <table>
            <tr ng-repeat="user in users">
                <td>{{user.name}}</td>
                <td>{{user.email}}
                <td><button ng-click="userDetail(user.name)">Detail</button>
                    <button ng-click="editUser(user)">Edit</button>
                    <button ng-click="deleteUser(user.name)">Delete</button></td>
            </tr>
        </table>
        Name: <input type="text" ng-model="user.name"> Email: <input type="text" ng-model="user.email">
        <button ng-click="save()">Save</button>
    </div>


</body>
</html>