<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-resource.js"></script>
<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="ServiceController">
        <button ng-click="loadAll()">Load</button>
        <table>
        <tr ng-repeat="issue in result.data"><td><a href="{{issue.url}}">{{issue.title}}</a><button ng-click="detail(issue.number)">Detail</button> </td></tr>
        </table>
        <div>{{result.detail}}</div>
    </div>
    

</body>
</html>