<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<title>Insert title here</title>
</head>
<body ng-app="rest">
    <div ng-controller="RestController">
        <button ng-click="load()">Load greeting</button>
        {{greeting.content}}
    </div>

</body>
</html>