<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js" ></script>
        <script type="text/javascript" src="app.js"></script>

</head>
<body ng-app="app">
<div ng-controller="CalculatorController">
    <input type="text" ng-model="input.value1"></input>
    <input type="text" ng-model="input.value2"></input>
    <h1>{{result}}</h1>
    <button ng-click="multiply()">Multiply</button>
    <button ng-click="add()">Add</button>    
</div>

</body>
</html>