<!DOCTYPE html>
<html ng-app>
	<head>
	       <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
 </head>
	<body>
		<input type="text" ng-model="name">
		<h1 ng-show="name">Hello {{ name }}</h1>
	</body>
</html>